<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <title>Learnt Overview</title>
</head>

<body>
    <div id="app">
        <div v-if='!user.username'>
            <input type="text" placeholder="User" v-model="loginForm.username">
            <input type="password" placeholder="Password" v-model="loginForm.password">
            <input type="submit" value="Submit" @click.prevent="loginUser()">
        </div>
        <div><input type="button" value="Check" @click.prevent="getProducts()"></div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: {
                fileData: null,
                loginForm: {
                    username: '',
                    password: '',
                },
                user: {
                    username: null,
                    id: null,
                },
                token: '',
                headers: '',
            },
            watch: {
                'user.username'(val) {
                    if (val && this.token) {
                        this.getProducts();
                    }
                },
            },
            methods: {
                loginUser() {
                    self = this;
                    let data = {
                        'username': self.loginForm.username,
                        'password': self.loginForm.password,
                    }
                    axios.post('/rest-auth/login/', data).then(resp => {
                        self.token = resp.data.key;
                        self.headers = {
                            headers: {
                                'Authorization': 'Token ' + self.token
                            }
                        };
                        axios.get('/rest-auth/user/', self.headers).then(aresp => {
                            self.user.username = aresp.data.username
                            self.user.id = aresp.data.pk
                        }).catch(err => {
                            console.log(err);
                        });
                    }).catch(err => {
                        console.log(err);
                    });
                },
                getProducts() {
                    self = this;
                    axios.get('/api/Profile/', self.headers).then(resp => {
                        console.log(resp);
                    }).catch(err => {
                        console.log(err);
                    });
                }
            }
        })
    </script>
</body>

</html>